@tailwind base;
@tailwind components;
@tailwind utilities;


.animated{
    animation: mymove 1.2s ease-in-out infinite;
}


@keyframes mymove {
    0% {transform: translateY(0px)}
     
    50%{transform: translateY(8px)}

    


     
    100%{transform: translateY(0px)}
  }


.products{
    animation: opa 1.7s ease-in-out ;
}

@keyframes opa {
    from {opacity: 0%;}
    to {opacity: 100%;}
}